/* GlobalStyles.css */

:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
  }
  
  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }
  
  @keyframes borderRadial {
    20% { --gradX: 100%; --gradY: 50%; }
    40% { --gradX: 100%; --gradY: 100%; }
    60% { --gradX: 50%; --gradY: 100%; }
    80% { --gradX: 0%; --gradY: 50%; }
    100% { --gradX: 50%; --gradY: 0%; }
  }
  